#banner {
	width: 100%;
}

.sobre {
	background: #FEFEFE;
	padding: 2.5rem 0;
	line-height: 1.25rem;
	width: 940px;
	margin: 0 auto;
}

.sobre__img {
	width: 160px;
	float: left;
	margin: 0 20px 20px 0;
}

.principal-titulo {
	text-align: center;
	font-size: 2rem;
	font-weight: 700;
	margin: 0 0 1rem;
	clear: left;
	padding-bottom: 1.25rem;
}

.principal-texto {
	margin: 0 0 1rem;
	text-align: center;
}

#missao {
	font-size: 20px;
}

.principal-texto em {
	font-style: italic;
}

.principal-texto em strong {
	color: #FF0000;
}

.mapa {
	padding: 3rem 0;
	background: linear-gradient(#FEFEFE, #888);
}

.mapa__conteudo {
	width: 940px;
	margin: 0 auto;
}

.beneficios {
	background: linear-gradient(#888888, #444);
	padding: 3rem 0;
}

.conteudo-beneficios {
	display: flex;
	width: 40rem;
	margin: 0 auto;
}

.lista-beneficios {
	width: 40%;
	display: inline-block;
	vertical-align: top;
}

.lista__item {
	line-height: 1.5rem;
}

.lista__item:first-child {
	font-weight: 700;
}

.lista__item::before {
	content: "\2704";
	padding-right: .5rem;
}

ul {
	display:inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.itens {
	font-style: italic;
}

.imagemBeneficios {
	width: 60%;
	transition: .4s;
	box-shadow: .25rem .25rem 1.5rem #000;
}

.imagemBeneficios:hover {
	opacity: 0.5;
}

.secao__video {
	width: 100vw;
	display: flex;
	justify-content: center;
	background: linear-gradient(#444, #111);
}

.video {
	padding: 60px 0;
	
}

footer {
	text-align: center;
	background: url("../img/bg.jpg");
	padding: 40px 0;
}

.copyright {
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}